<div class="header">
    <h4>BeWell</h4>
    <h5>Your Care..Your Way</h5>
</div>

<div class="login-wrap" fxLayout="row" fxLayout.xs="column" fxLayout.xs="column"  fxLayoutAlign="center"  fxLayoutGap="100px" >

    <div class="login-wrap__form" fxFlex="50" fxLayoutAlign="end">
        <form  fxLayout="column" fxFlex="50"  fxFlex.xs="100%" ngStyle.xs="padding: 0 10px;">
            <h4>Reset Your Password</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem inventore voluptas quam suscipit.</p>
            <p>mail@mail.com</p>
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input  matInput  placeholder="Enter Your Password"  type="password" autocomplete="off">
                <mat-hint>you can login using registered email</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Retype Password</mat-label>
                <input  matInput  placeholder="Retype Password"  type="password" autocomplete="off">
                <mat-hint>you can login using registered email</mat-hint>
            </mat-form-field>

            <button mat-raised-button>SUBMIT</button>
        </form>
    </div>

    <div class="login-wrap__text" fxFlex= "50"  ngStyle.xs="padding: 0 10px;  text-align: center;">
        <h1>LOYALTY </h1>
        <h1>PROGRAM</h1>
    </div>
</div>